<!doctype html>
<html lang="en" ng-app="ang_services_intro">
<head>
    <meta charset="UTF-8">
    <title>Angular Services Intro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
  <div ng-controller="formController as fc">
    <input type="text" ng-init="artist='eminem'" ng-model="artist">
    <button type="button" ng-click="fc.song(artist)">Submit Artist</button>
    <div>
      <table>
        <thead>
          <tr>
            <th>Artist</th>
            <th>Song Title</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in fc.songData">
            <td>{{data.artistName}}</td>
            <td>{{data.trackName}}</td>
            <td>${{data.trackPrice}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<script src="script.js"></script>
</body>
</html>
